nav{
    list-style-type: none;
    margin: 0;
    padding :0;
    overflow: hidden;
    text-align: center;
    background-color: #333;
    
  }
  nav li {
   
    display: inline;
    flex-direction:row;
  }
  

  nav li a {
    display: inline;
    color: white;
    
    padding: 14px 16px;
    text-decoration: none;
    text-align:center;
  }
  nav li a:hover {
    background-color: #111;
    
  }
  h1{
    color : rgb(128, 15, 90);
  }
  #about{
    clear: left;
  }
  .container{
    border-style: solid;
    border-width: 5px;
    padding-left: 30px;
    margin-right: 150px;
    background-color:gray;
    font-style: normal;
    
  }

img{
    float:left;
    border-radius: 50%;
   }
  
#work{
    text-align:left;
}
#class{
  flex-direction: row;
  float:right;
}
  

span{
  color:brown;
  
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
